@tailwind base;

@layer base {
	*,
	::after,
	::before {
		text-rendering: optimizespeed;
		-webkit-font-smoothing: antialiased;
		-webkit-tap-highlight-color: transparent;
		backface-visibility: hidden;
	}

	html {
		font-family: 'Public Sans', sans-serif;
		font-size: 14px;
	}

	html,
	body {
		height: 100%;
	}

	body {
		height: 100%;
	}

	body::before {
		content: '';
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}

	@media (min-width: 768px) {
		body::before {
			background-size: 700px, cover, cover;
		}
	}

	/* In light mode there is no background image */
	[data-theme='light'] body::before {
		background-image: none;
	}
}
