# Root level files and workflows
.github/CODEOWNERS              @dantaik @davidtaikocha @smtmfft
.github/workflows/*             @davidtaikocha @smtmfft

# Protocol
/packages/protocol/**           @dantaik @davidtaikocha @smtmfft
/packages/protocol/contracts/**/*Verifier*.sol @dantaik @davidtaikocha @smtmfft
/packages/protocol/contracts/layer1/preconf/** @dantaik @davidtaikocha @smtmfft

# Client services
/packages/taiko-client/**       @davidtaikocha @smtmfft
/packages/taiko-client-rs/**    @davidtaikocha @smtmfft
/packages/eventindexer/**       @davidtaikocha @smtmfft
/packages/relayer/**            @davidtaikocha @smtmfft

# Frontend applications
/packages/bridge-ui/**          @davidtaikocha @smtmfft

# Infrastructure and tools
/packages/balance-monitor/**    @davidtaikocha @smtmfft
/packages/ejector/**            @davidtaikocha @smtmfft
/packages/fork-diff/**          @davidtaikocha @smtmfft
/packages/geth-rpc-gateway/**   @davidtaikocha @smtmfft
