[submodule "packages/protocol/lib/openzeppelin-foundry-upgrades"]
	path = packages/protocol/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "packages/protocol/lib/openzeppelin-contracts-upgradeable"]
	path = packages/protocol/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
