[submodule "packages/supplementary-contracts/lib/openzeppelin-contracts-upgradeable"]
	path = packages/supplementary-contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "packages/supplementary-contracts/lib/openzeppelin-contracts"]
	path = packages/supplementary-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
