[profile.default]
src = "contracts"
out = "out"
libs = ["node_modules"]
test = "test"
script = "script"
solc_version = "0.8.26"
optimizer = true
optimizer_runs = 200
via_ir = true
fs_permissions = [{ access = "read", path = "./" }]
remappings = [
    "@uniswap/v4-core/=node_modules/@uniswap/v4-core/src/",
    "@openzeppelin/contracts/=node_modules/@openzeppelin/contracts/",
    "@openzeppelin/contracts-upgradeable/=node_modules/@openzeppelin/contracts-upgradeable/",
    "forge-std/=node_modules/forge-std/src/",
]

[rpc_endpoints]
# Add RPC endpoints here if needed

[fmt]
bracket_spacing = true
line_length = 100
multiline_func_header = "all"
number_underscore = "thousands"
wrap_comments = false
tab_width = 4
style = "space"
int_types = "long"
quote_style = "double"
hex_underscore = "remove"
single_line_statement_blocks = "preserve"
override_spacing = false
docs_style = "preserve"
contract_new_lines = false
sort_imports = true
pow_no_space = false
call_compact_args = true

[lint]
exclude_lints = [
    "unaliased-plain-import",
    "mixed-case-variable",
    "screaming-snake-case-immutable",
    "screaming-snake-case-const",
    "named-struct-fields",
    "pascal-case-struct",
    "unsafe-typecast",
    "unwrapped-modifier-logic",
    "mixed-case-function",
    "unsafe-cheatcode",
    "max-line-length",
]
