@tailwind base;
@tailwind components;
@tailwind utilities;

.load-wraper{
    position: relative;
    height: 400px;
    background-color: rgb(38 38 38);
    z-index: 1;
    margin-top: .5em;
    border-radius: .5rem;
    overflow: hidden;
  }

.activity{
    position: absolute;
    left: -45%;
    height: 100%;
    width: 45%;
    background-image: linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .1), rgba(251,251,251, .2), rgba(251,251,251, .1), rgba(251,251,251, .05));
    background-image: -moz-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .1), rgba(251,251,251, .2), rgba(251,251,251, .1), rgba(251,251,251, .05));
    background-image: -webkit-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .1), rgba(251,251,251, .2), rgba(251,251,251, .1), rgba(251,251,251, .05));
    animation: loading 1s infinite;
    z-index: 2;
}

.crop-image{
  height: 250px;
  object-fit: cover;
  object-position: top;
}
  
@keyframes loading {
    0%{
      left: -45%;
    }
    100%{
      left: 100%;
    }
}