/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #e28bfd;
  --ifm-color-primary-dark: #cb7de4;
  --ifm-color-primary-darker: #b56fca;
  --ifm-color-primary-darkest: #9e61b1;
  --ifm-color-primary-light: #e597fd;
  --ifm-color-primary-lighter: #e8a2fd;
  --ifm-color-primary-lightest: #ebaefe;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #e8a2fd;
  --ifm-color-primary-dark: #e597fd;
  --ifm-color-primary-darker: #e28bfd;
  --ifm-color-primary-darkest: #cb7de4;
  --ifm-color-primary-light: #ebaefe;
  --ifm-color-primary-lighter: #eeb9fe;
  --ifm-color-primary-lightest: #f1c5fe;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar__logo {
  margin-right: 0;
}

html[data-theme="dark"] footer {
  background-color: #242526;
}
