@tailwind base;

@layer base {
  *,
  ::after,
  ::before {
    text-rendering: optimizespeed;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    backface-visibility: hidden;
  }

  html {
    font-family: 'Public Sans', sans-serif;
  }

  html,
  body {
    height: 100%;
  }
}
