/**************************
 * Remove Arrows/Spinners *
 **************************/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  @apply appearance-none m-0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/**
 * Overrides the dafault color for the overlay component used 
 * in DaisyUI's drawer. Unfortunately cannot be done via variables
 */
.drawer-toggle:checked ~ .drawer-side > .drawer-overlay {
  background-color: var(--primary-background);
}

/**
 * By design we don't have any opacity on disabled buttons,
 * also font color is tertiary-content
 */
.btn.btn-disabled,
.btn[disabled],
.btn:disabled {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  @apply text-tertiary-content;
}

.title-body-bold {
  color: var(--primary-content);
  text-align: center;
  font-family: Public Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.39px;
}

.modal-box {
  display: inline-flex;
  padding: 25px 24px 45px 24px;
  flex-direction: column;
  align-items: center;
}
