/**************************
 * Remove Arrows/Spinners *
 **************************/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  @apply appearance-none m-0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
