/**************************
 * Remove Arrows/Spinners *
 **************************/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  @apply appearance-none m-0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/**
 * Overrides the dafault color for the overlay component used 
 * in DaisyUI's drawer. Unfortunately cannot be done via variables
 */
.drawer-toggle:checked ~ .drawer-side > .drawer-overlay {
  /* Primary background: '#0B101B' => grey-900 */
  background-color: hsl(221, 42%, 7%);
}

/**
 * By design we don't have any opacity on disabled buttons,
 * also font color is tertiary-content
 */
.btn.btn-disabled,
.btn[disabled],
.btn:disabled {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  @apply text-tertiary-content;
}
