.taiko-logo {
  display: none;
}

[data-theme='dark'] .taiko-logo {
  display: inline;
}

[data-theme='dark'] .taiko-light-logo {
  display: none;
}

@media screen and (max-width: 768px) {
  [data-theme='dark'] .taiko-logo {
    display: none;
  }

  [data-theme='light'] .taiko-light-logo {
    display: none;
  }
}
