/* source: https://github.com/drizzle-team/drizzle-orm-docs */
.container {
  cursor: pointer;
  margin: 8px;
  user-select: none;
  width: 36px;
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
}

html[class~="dark"] .line {
  background-color: rgba(249, 250, 251, 0.1);
}

.line {
  height: 10px;
  width: 32px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.05);
}

html[class~="dark"] .circle {
  background-color: #484848;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(229, 231, 235);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all ease-in-out 0.1s;
}

.dark {
  left: 72%;
}

.light {
  left: 16%;
}
