.btn.btn-wide {
  width: 194px;
  height: 56px;
}

.btn.btn-token-select {
  width: 140px;
  height: 60px;
}

.btn.btn-square {
  border-radius: 4px;
}

/* Invert accent button colors */
.btn.btn-accent {
  background-color: hsla(var(--af) / var(--tw-bg-opacity, 1));
  border-color: hsla(var(--af) / var(--tw-bg-opacity, 1));
  height: 60px;
}

.btn.btn-accent:hover {
  background-color: hsla(var(--a) / var(--tw-bg-opacity, 1));
  border-color: hsla(var(--a) / var(--tw-bg-opacity, 1));
}

.dropdown .dropdown-content {
  border-radius: 0 0 var(--rounded-box) var(--rounded-box);
}

.input-group .input.input-primary {
  border-radius: 0.5rem;
}

.form-control .input-group :first-child {
  border-radius: 0.5rem;
}

.form-control .input-group :last-child {
  border-radius: 0.5rem;
}

.taiko-banner {
  background-image: url('assets/taiko-banner.png');
  background-repeat: no-repeat;
}