@tailwind base;
@tailwind components;
@tailwind utilities;

/* Invert accent button colors */
.btn.btn-accent {
  background-color: hsla(var(--af) / var(--tw-bg-opacity, 1));
  border-color: hsla(var(--af) / var(--tw-bg-opacity, 1));
}

.dropdown .dropdown-content {
  border-radius: 0 0 var(--rounded-box) var(--rounded-box);
}

.input-group .input.input-primary {
  border-radius: 0.5rem;
}

.form-control .input-group :first-child {
  border-radius: 0.5rem;
}

.form-control .input-group :last-child {
  border-radius: 0.5rem;
}

ul.token-dropdown li.cursor-pointer:last-child,
ul.token-dropdown li.cursor-pointer:first-child {
  border-radius: 0;
}

.dropdown-content.address-dropdown-content {
  border-radius: 6px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.taiko-logo {
  display: none;
}

[data-theme='dark'] .taiko-logo {
  display: inline;
}

[data-theme='dark'] .taiko-light-logo {
  display: none;
}

[data-theme='dark'] .switch-to-dark-mode {
  display: none;
}

.tx-data {
  border-left: 4px solid lightgray;
  border-right: 4px solid lightgray;
  background-color: lightgray;
}

[data-theme='dark'] .tx-data {
  border-left-color: black;
  border-right-color: black;
  background-color: black;
}

[data-theme='light'] .switch-to-light-mode {
  display: none;
}

[data-theme='light'] .toggle-chain.btn[disabled] {
  color: #1f2937;
  background-color: #d4d4d4;
  opacity: 0.4;
}

@media screen and (max-width: 768px) {
  [data-theme='dark'] .taiko-logo {
    display: none;
  }

  [data-theme='light'] .taiko-light-logo {
    display: none;
  }
}
