definitions:
  http.blockInfo:
    properties:
      chainID:
        type: integer
      latestBlock:
        type: integer
      latestProcessedBlock:
        type: integer
    type: object
  http.getBlockInfoResponse:
    properties:
      data:
        items:
          $ref: "#/definitions/http.blockInfo"
        type: array
    type: object
  paginate.Page:
    properties:
      first:
        type: boolean
      items: {}
      last:
        type: boolean
      max_page:
        type: integer
      page:
        type: integer
      size:
        type: integer
      total:
        type: integer
      total_pages:
        type: integer
      visible:
        type: integer
    type: object
host: relayer.katla.taiko.xyz
info:
  contact:
    email: info@taiko.xyz
    name: API Support
    url: https://community.taiko.xyz/
  license:
    name: MIT
  termsOfService: http://swagger.io/terms/
  title: Taiko Relayer API
  version: "1.0"
paths:
  /blockInfo:
    get:
      consumes:
        - application/json
      operationId: get-block-info
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/http.getBlockInfoResponse"
      summary: Get block info
  /events:
    get:
      consumes:
        - application/json
      operationId: get-events-by-address
      parameters:
        - description: address to query
          in: query
          name: address
          required: true
          type: string
        - description: msgHash to query
          in: query
          name: msgHash
          type: string
        - description: chainID to query
          in: query
          name: chainID
          type: string
        - description: eventType to query
          in: query
          name: eventType
          type: string
        - description: event to query
          in: query
          name: event
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/paginate.Page"
      summary: Get events by address
swagger: "2.0"
