/* Remove Arrows/Spinners */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Invert accent button colors */
.btn.btn-accent {
  background-color: hsla(var(--af) / var(--tw-bg-opacity, 1));
  border-color: hsla(var(--af) / var(--tw-bg-opacity, 1));
}
