name: Eventindexer

on:
  push:
    branches: [main]
    paths:
      - "packages/eventindexer/**"
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - "packages/eventindexer/**"
    branches-ignore:
      - release-please--branches--**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-eventindexer:
    name: lint-eventindexer
    if: ${{ github.event.pull_request.draft == false && !startsWith(github.head_ref, 'release-please') && !startsWith(github.head_ref, 'dependabot') }}
    runs-on: [arc-runner-set]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: latest

          # Optional: working directory, useful for monorepos
          working-directory: ./packages/eventindexer
          args: --config=.golangci.yml --timeout=10m

  test-eventindexer:
    runs-on: [arc-runner-set]
    if: ${{ github.event.pull_request.draft == false && !startsWith(github.head_ref, 'release-please') && !startsWith(github.head_ref, 'dependabot') }}
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: eventindexer - Unit Tests
        working-directory: ./packages/eventindexer
        run: go test `go list ./... | grep -v ./contracts | grep -v ./mock | grep -v ./cmd` -coverprofile=coverage.txt -covermode=atomic

      - name: eventindexer - Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./packages/eventindexer/coverage.txt
          flags: eventindexer
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  push-eventindexer-docker-image:
    # Skip dependabot PRs
    if: ${{ github.event_name == 'pull_request' && ! startsWith(github.head_ref, 'dependabot') && !startsWith(github.head_ref, 'release-please') && github.event.pull_request.head.repo.fork == false }}
    name: Build and push docker image
    runs-on: [arc-runner-set]

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.ref }}

      - name: Login to GAR
        uses: docker/login-action@v3
        with:
          registry: us-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.GAR_JSON_KEY }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            us-docker.pkg.dev/evmchain/images/eventindexer
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=ref,event=tag
            type=sha

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            PACKAGE=eventindexer
