name: Validate PR Title

on:
  pull_request_target:
    types:
      - opened
      - edited

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  validate-pr-title:
    if: contains(github.event.pull_request.labels.*.name, 'option.workflow_on') || github.event.pull_request.draft == false && github.head_ref != 'release-please-*'
    runs-on: [arc-runner-set]
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # Non-package scopes explained:
          # - repo: The repository itself (not a specific package)
          # - main: For release-please PRs
          # - deps: For dependabot dependency update PRs
          # - deps-dev: For dependabot devDependency update PRs
          scopes: |
            repo
            main
            deps
            deps-dev
            docs-site
            branding
            bridge-ui
            ejector
            eventindexer
            fork-diff
            geth-rpc-gateway
            overseer-rs
            preconfirmation-p2p
            protocol
            relayer
            urcindexer-rs
            nfts
            ui-lib
            taiko-client
            taiko-client-rs
            supplementary-contracts
            balance-monitor
            whitepaper
          requireScope: true
          subjectPattern: ^(?![A-Z])(?!.*\btypo\b).+$ # Require lowercase PR title and prohibit word "typo"
          subjectPatternError: |
            The subject "{subject}" found in the pull request title "{title}"
            didn't match the configured pattern. Please ensure that the subject
            doesn't start with an uppercase character and doesn't contains word "typo".
