name: "CI"

on:
  push:
    branches: [main]
    paths:
      - "packages/taiko-client/**"
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - "packages/taiko-client/**"
      - "go.mod"
      - "go.sum"
      - "!**/*.md"
    branches-ignore:
      - release-please--branches--**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    if: ${{ github.event.pull_request.draft == false  && !startsWith(github.head_ref, 'release-please') && !startsWith(github.head_ref, 'dependabot') }}
    name: Lint
    runs-on: [ubuntu-latest]
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Lint
        working-directory: packages/taiko-client
        run: make lint

  integration_tests:
    if: ${{ github.event.pull_request.draft == false  && !startsWith(github.head_ref, 'release-please') }}
    name: Integration tests
    runs-on: [ubuntu-latest]
    timeout-minutes: 30
    env:
      OLD_FORK_TAIKO_MONO_DIR: old-fork-taiko-mono
      PACAYA_FORK_TAIKO_MONO_DIR: pacaya-fork-taiko-mono
      SHASTA_FORK_TAIKO_MONO_DIR: shasta-fork-taiko-mono

    strategy:
      matrix:
        execution_node: [l2_geth]

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v6

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Install pnpm dependencies
        uses: ./.github/actions/install-pnpm-dependencies

      - uses: actions/checkout@v6
        with:
          repository: taikoxyz/taiko-mono
          path: ${{ env.PACAYA_FORK_TAIKO_MONO_DIR }}
          ref: taiko-alethia-protocol-v2.3.0-devnet-shasta-test

      - uses: actions/checkout@v6
        with:
          repository: taikoxyz/taiko-mono
          path: ${{ env.SHASTA_FORK_TAIKO_MONO_DIR }}
          ref: taiko-alethia-protocol-v3.0.0

      - name: Install pnpm dependencies for pacaya fork taiko-mono
        working-directory: ${{ env.PACAYA_FORK_TAIKO_MONO_DIR }}
        run: cd ./packages/protocol && pnpm install

      - name: Install pnpm dependencies for shasta fork taiko-mono
        working-directory: ${{ env.SHASTA_FORK_TAIKO_MONO_DIR }}
        run: cd ./packages/protocol && pnpm install

      - name: Run Tests on ${{ matrix.execution_node }} execution engine
        working-directory: packages/taiko-client
        env:
          L2_NODE: ${{ matrix.execution_node }}
        run: SHASTA_FORK_TAIKO_MONO=${GITHUB_WORKSPACE}/${SHASTA_FORK_TAIKO_MONO_DIR} PACAYA_FORK_TAIKO_MONO=${GITHUB_WORKSPACE}/${PACAYA_FORK_TAIKO_MONO_DIR} make test

      - name: Codecov.io
        uses: codecov/codecov-action@v5
        with:
          files: packages/taiko-client/coverage.out
          flags: taiko-client
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
