name: "CI"

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - "packages/taiko-client/**"
      - "go.mod"
      - "go.sum"

jobs:
  lint:
    if: github.event.pull_request.draft == false
    name: Lint
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
          cache: true

      - name: Install golangci-lint
        run: go install -v github.com/golangci/golangci-lint/cmd/golangci-lint@v1.60.0

      - name: Lint
        working-directory: packages/taiko-client
        run: golangci-lint run --path-prefix=./ --config=.golangci.yml

  integration_tests:
    if: github.event.pull_request.draft == false
    name: Integration tests
    runs-on: [ubuntu-latest]
    timeout-minutes: 15

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v4

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
          cache: true

      - name: Install pnpm dependencies
        uses: ./.github/actions/install-pnpm-dependencies

      - name: Test(geth execution node)
        working-directory: packages/taiko-client
        run: |
          export L2_NODE=l2_geth
          make test

      - name: Test(reth execution node)
        working-directory: packages/taiko-client
        run: |
          export L2_NODE=l2_reth
          make test

      - name: Codecov.io
        uses: codecov/codecov-action@v4
        with:
          files: packages/taiko-client/coverage.out
