name: "CI"

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - "packages/taiko-client/**"
      - "go.mod"
      - "go.sum"
      - "!**/*.md"
    branches-ignore:
      - release-please--branches--**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    if: ${{ github.event.pull_request.draft == false  && !startsWith(github.head_ref, 'release-please') && github.actor != 'dependabot[bot]' }}
    name: Lint
    runs-on: [ubuntu-latest]
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24
          cache: true

      - name: Lint
        working-directory: packages/taiko-client
        run: make lint

  integration_tests:
    if: ${{ github.event.pull_request.draft == false  && !startsWith(github.head_ref, 'release-please') }}
    name: Integration tests
    runs-on: [ubuntu-latest]
    timeout-minutes: 30
    env:
      OLD_FORK_TAIKO_MONO_DIR: old-fork-taiko-mono

    strategy:
      matrix:
        execution_node: [l2_geth]

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v4

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24
          cache: true

      - name: Install pnpm dependencies
        uses: ./.github/actions/install-pnpm-dependencies

      - name: Run Tests on ${{ matrix.execution_node }} execution engine
        working-directory: packages/taiko-client
        env:
          L2_NODE: ${{ matrix.execution_node }}
        run: make test

      - name: Codecov.io
        uses: codecov/codecov-action@v5
        with:
          files: packages/taiko-client/coverage.out
