name: "CI"

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - "packages/taiko-client/**"
      - "go.mod"
      - "go.sum"

jobs:
  lint:
    if: github.event.pull_request.draft == false
    name: Lint
    runs-on: [arc-runner-set]
    steps:
      - name: Install Git
        run: sudo apt-get update && sudo apt-get install -y git

      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21
          cache: true

      - name: Lint
        working-directory: packages/taiko-client
        run: make lint

  integration_tests:
    if: github.event.pull_request.draft == false
    name: Integration tests
    runs-on: [ubuntu-latest]
    timeout-minutes: 15

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v4

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21
          cache: true

      - name: Install pnpm dependencies
        uses: ./.github/actions/install-pnpm-dependencies

      - name: Test
        working-directory: packages/taiko-client
        run: make test

      - name: Codecov.io
        uses: codecov/codecov-action@v4
        with:
          files: packages/taiko-client/coverage.out
